@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

:root {
  --color-primary: #ff8400;
  --color-secundary: #4d41c0;
}

html,
body {
  height: 100%;
  font-family: "Ubuntu", sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  text-align: center;
}

.bg-primary {
  background-color: var(--color-primary) !important;
}

.text-primary {
  color: var(--color-primary) !important;
}

.styled-select select {
  background: transparent;
  width: 268px;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border: 0;
  border-radius: 0;
  height: 34px;
  --webkit-appearance: none;
}

.footer2 {
  line-height: 1;
  flex-shrink: 0;
  text-align: center;
  direction: ltr;
}

.alinha_esquerda {
  direction: ltr;
}
.alinha_direita {
  direction: rtl;
}

.topo {
  height: 243px;
  width: 980px;
  direction: rtl;
}

@keyframes hide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.alert-box {
  animation: hide 2s 2s forwards;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

select {
  color: gray;
}

select:hover,
select:focus,
select:active,
select:checked {
  color: rgb(5, 7, 126);
}

select option {
  color: #333;
}

option[value=""][disabled] {
  display: none;
}

.BnSucess {
  display: block;
}

textarea {
  max-width: 240px;
  min-width: 500px;
  max-height: 35px;
  min-height: 100px;
}
.table {
  border-collapse: collapse;
  font-family: Arial, sans-serif; /* Define a fonte para a tabela */
  table-layout: auto; /* Adiciona esta linha para permitir o ajuste automático das colunas */
}

.table th,
.table td {
  border: 1px solid #dddddd; /* Adiciona uma moldura às células */
  padding: 8px; /* Adiciona um espaçamento interno */
  text-align: left; /* Alinha o texto à esquerda */
  text-transform: uppercase; /* Converte o texto para maiúsculas */
  font-size: 10px; /* Define o tamanho da fonte */
  white-space: nowrap; /* Garante que o texto não quebre */
  overflow: hidden; /* Esconde o texto que ultrapassa o tamanho da célula */
  text-overflow: ellipsis; /* Adiciona reticências ao texto que ultrapassa o tamanho da célula */
}

/* Adicione estilos apenas para o cabeçalho */
.table thead {
  background-color: blue; /* Define a cor de fundo do cabeçalho */
  color: white; /* Define a cor do texto do cabeçalho */
}

.text-blue {
  color: blue;
}

.text-red {
  color: #ff6666; /* Tom leve de vermelho */
}
.bg-red {
  background-color: #ff6666; /* Cor de fundo vermelha */
  color: white; /* Cor do texto branco para contrastar */
}
